
.container{
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

.form{
    height: 500px;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.088);
    padding: 5px;
    margin-bottom: 120px;
}


.divTitles{
    display: flex;
    flex-direction: row;
}

.label{
    width: 145px;
    border: 1px solid black;
    background: none;
    margin: 5px;
}

.label:hover{
    cursor: pointer;
}

.checkboxs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gendivs{
    display: flex;    
}

.checks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.checks input:hover {
    cursor: pointer;
}

.imagediv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imagein{
    width: 300px;
    border: 1px solid black;
    background: none;
    margin: 5px;
}
.buttonn {
    color: rgb(0, 0, 0);
    background-color: rgb(223, 198, 58);
    border-radius: 50px;
    width: 300px;
    margin-top: 400px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

