.menu {
    text-decoration:none;
    width: 55%;
    font-family: 'Ubuntu', sans-serif;
    color: yellow;
}
.navBar  form{
    display:flex;
    width: 340px;
}
.navBar {
    width: 100%;
    height: 3vh;
    background: #2e3101;
    display:inline-flex;
}

.menu1 {
    text-decoration:none;
    width: 55%;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(211, 211, 190);
}
.menu2 {
    text-decoration:none;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(233, 233, 135);
}
    
    
    
    
